<div class="container">
<div class="col-md-3 ">

    <div class="card">
      <h4 class="card-header">Change Password</h4>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Password
              <input type="password" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required="true"/></label>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
           <div class="form-group">
            <label>Retype - Password
              <input type="password" formControlName="retypepassword" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.retypepassword.errors }" required="true"/></label>
            <div *ngIf="submitted && f.retypepassword.errors" class="invalid-feedback">
              <div *ngIf="f.retypepassword.errors.required">Retype-Password is required</div>
            </div>
          </div>

          <button [disabled]="loading" class="btn btn-primary" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
