.bg {
  /* The image used */
  background-image: url("src/assets/images/multi_poster_background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
