<div class="container">
  <div class="row">
    <div class="col-md-4">

<!--      User Card   -->
   <div class="">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                    <h4 class="card-title">{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                                    <p class="card-text">This profile belongs to user : {{currentUser.userName}}</p>
                                    <p class="card-text">Email : {{currentUser.email}}</p>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                                    <p class="card-text">About ME!</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" >
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" >
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" >
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" >
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <div class="col-md-8" *ngIf="isUserAdmin">

<!--      Admin Controls if any-->
      <app-admin-panel></app-admin-panel>
      <app-add-movie></app-add-movie>


    </div>
  </div>
</div>

