<div class="alert alert-warning" role="alert" *ngIf="isListEmpty">
  You have not added any movie to watchlist.
</div>
<div class="card-columns" *ngIf="!isListEmpty">


    <div class="card" *ngFor="let movie of myMovies">
      <div class="card-header" (click)="goToMoviePage(movie)">
        <a >
        <img class="card-img" src="{{movie.imageLink}}" alt="Card image" >
        </a>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{movie.movieName}}</h1>
        <div class="container">
          <div class="row">
            <div class="col-4 metadata">
              <i class="fa fa-star" aria-hidden="true"></i>
              <p>9.5/10</p>
            </div>
            <div class="col-8 metadata">{{movie.genre}}</div>
          </div>
        </div>
        <p class="card-text">{{movie.description}}</p>
        <a class="trailer-preview" href="{{movie.trailerLink}}" target="new">
          <i class="fa fa-play" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>



<p *ngIf="error">{{error}}</p>
